# Virtual Environments & Python Cache
.venv/
venv/
env/
sane_env/
__pycache__/
*.py[cod]
*.so

# Node & Build Artifacts
node_modules/
dist/
.firebase/
build/

# System & IDE
.DS_Store
.vscode/
.idea/
*.tmp
*.bak
.env
venv/
